<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <div id="root"></div>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
